block footer
// Begin: Page Footer
footer#content-footer.affix
  .row
    .col-xs-6
      span.footer-legal &copy; 2016 TemplateMonster
    .col-xs-6.text-right
      span.footer-meta
        | 60GB of
        b= " 350GB "
        |  Free
      a.footer-return-top(href='#content')
        span.fa.fa-arrow-up